# Ignore Python virtual environment files
venv/
.venv/
env/

# Ignore Poetry files
.venv/
.poetry/
.poetry.lock

# Ignore local development files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
logs/
*.log
*.swp
*.swo
*.tmp

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system and OS files
.DS_Store
Thumbs.db

*.env